<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GAN DEMO</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/dist/semantic.min.css') }}">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='semantic/dist/semantic.min.js') }}"></script>
    <style type="text/css">
    .main.container {
        margin-top: 7em;
    }
    .wireframe {
        margin-top: 2em;
    }
    </style>
    <script src="{{ url_for('static', filename='areaSelectable/areaSelectable.min.js') }}"></script>
    <style>
        .statistic {
            margin-bottom: 0;
        }
        .ui.top.attached.label {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="ui tiny modal">
        <div class="header" id="modal_header"></div>
        <div class="content">
            <p id="modal_content">
        </div>
        <div class="actions">
            <div class="ui cancel button">Close</div>
        </div>
    </div>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                GAN-DEMO
            </a>
        </div>
    </div>
    <div class="ui main text container">
        <h2 class="ui center aligned header">
            Image Inpainting using Generative Adversarial Networks  
        </h2>
        
        <h4 class="ui horizontal divider header">
            Upload Image
        </h4>
        <form id="uploadForm" class="ui form" enctype="multipart/form-data" method="POST" action="#">
            <div class="field">
                <label>File</label>
                <input type="file" name="image" id="upImage" required>
            </div>
            <input id="cek" type="hidden" name="cek" value="cek">
            <button class="ui submit button" id="uploadbtn">
                <i class="upload icon"></i>
                Upload
            </button>
        </form>

        <h4 class="ui horizontal divider header">
            Masking
        </h4>
        <div class="ui segments" id="mask_form">
            <div class="ui segment">
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <label>Mask Size</label>
                            <!--<input type="number" id="mask_size" value="16" max="64" min="1">-->
                            <select class="ui dropdown" id="mask_size">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="8">8</option>
                                <option selected value="16">16</option>
                                <option value="32">32</option>
                                <option value="64">64</option>
                            </select>
                            <input type="hidden" name="mask_dim" id="mask_dim" value="16">
                            <input type="hidden" name="pp_image" id="pp_image" value="">
                        </div>
                        <div class="field">
                            <label>&nbsp;</label>
                            <button class="ui button" id="changeMaskBtn">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="column" id="mask_div">
                    <img class="ui image centered" width="300" height="300" id="preprocessed2" src="{{ placeholder }}">
                </div>
            </div>
            <button id="inpaintBtn" class="fluid ui disabled bottom attached button">Inpaint!</button>
        </div>

        <h4 class="ui horizontal divider header">
            Result
        </h4>
        <div class="ui segments">
            <div class="ui horizontal segments" id="resultdiv">
                <div class="ui segment">
                    <div class="ui top attached label">Masked</div>
                    <img width="100%" id="masked" src="{{ placeholder }}">
                </div>
                <div class="ui segment">
                    <div class="ui top attached label">Hats</div>
                    <img width="100%" id="hats" src="{{ placeholder }}">
                </div>
                <div class="ui segment">
                    <div class="ui top attached label">Result</div>
                    <img width="100%" id="completed" src="{{ placeholder }}">
                </div>
            </div>
            <div class="ui segment mini two statistics">
                <div class="statistic">
                    <div class="value" id="psnr">
                        0.0
                    </div>
                    <div class="label">
                        PSNR
                    </div>
                </div>
                <div class="statistic">
                    <div class="value" id="ssim">
                        0.0
                    </div>
                    <div class="label">
                        SSIM
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(".ui.dropdown").dropdown();
            $("#preprocessed2").areaSelectable({
                allowMultiple: true,
                x: 16,
                y: 16,
                name: "masked"
            });

            $("#uploadForm").on("submit", function(e){
                e.preventDefault();
                $("#uploadForm").addClass("loading");
                var url = "{{ url_for('preprocess') }}";
                
                var formData = new FormData();
                formData.append("image", document.getElementById("upImage").files[0])
                formData.append("cek", $("#cek").val());

                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(data){
                        // console.log(data);
                        var start = "data:image/jpeg;base64,".length;
                        $("#preprocessed").attr("src", data.img);
                        $("#preprocessed2").attr("src", data.img);
                        $("#pp_image").val(data.np);
                        $("#uploadForm").removeClass("loading");
                        $("#inpaintBtn").removeClass("disabled");
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr);
                        console.error(error);
                        $("#uploadForm").removeClass("loading");
                        show_dialog("Error " + xhr.status, xhr.statusText);
                    }
                });
            });

            $("#changeMaskBtn").on("click", function(e) {
                var size = parseInt($("#mask_size").val());
                $("#mask_dim").val(size);
                // console.log("size changed");
                reset_mask(size);
            });

            $("#inpaintBtn").on("click", function(e) {
                var data = "image=" + $("#pp_image").val();
                data += "&mask_size=" + parseInt($("#mask_dim").val());
                data += "&mask=" + $($("input[name='masked']")[0]).val();
                $("#inpaintBtn").addClass("loading");
                $.ajax({
                    url: "{{ url_for('inpaint') }}",
                    type: "POST",
                    data: data,
                    success: function(data) {
                        // console.log(data);
                        $("#inpaintBtn").removeClass("loading");
                        collect_result();
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr);
                        console.log(error);
                        $("#inpaintBtn").removeClass("loading");
                        show_dialog("Error " + xhr.status, xhr.statusText);
                    }
                });
            });
            // $("#pp_image").val("319b63f001304a63837c69e506b96209");
            // collect_result();
        });

        function reset_mask(size) {
            var origin = $("#preprocessed2");
            $("#mask_div").children().remove();
            $("#mask_div").append(origin);
            $("#preprocessed2").areaSelectable({
                allowMultiple: true,
                x: size,
                y: size,
                name: "masked"
            });
        }

        function show_dialog(title, content) {
            $("#modal_header").html(title);
            $("#modal_content").html(content);
            $(".tiny.modal").modal("show");
        }

        function collect_result() {
            var data = "image=" + $("#pp_image").val();
            $("#resultdiv").addClass("loading");
            $.ajax({
                url: "{{ url_for('collect') }}",
                type: "POST",
                data: data,
                success: function(data) {
                    // console.log(data);
                    if(data.status == "oke") {
                        $("#masked").attr("src", data.masked);
                        $("#hats").attr("src", data.hats);
                        $("#completed").attr("src", data.inpt);
                        $("#psnr").html(data.psnr);
                        $("#ssim").html(data.ssim);
                    }
                    else {
                        show_dialog(data.status, data.text);
                    }
                    $("#resultdiv").removeClass("loading");
                },
                error: function(xhr, status, error) {
                    console.log(xhr);
                    console.log(error);
                    show_dialog("Error " + xhr.status, xhr.statusText);
                    $("#resultdiv").removeClass("loading");
                }
            })
        }
    </script>
</body>
</html>